#files/directories/patterns intentionally ignored by git

.idea
/build/
/out/
*.class
*.jar
*.war
*.ear
.gradle/
gradle/
scores.txt

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache